<div id="extId">
  <div class="content-about">
    <h2>components/about.html</h2>
    <h3>О нас</h3>

    <p>
      мы такие хорошие. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio assumenda dicta soluta quos quia voluptates, 
      incidunt optio minima sint ipsam laudantium, saepe consequuntur at beatae officiis ullam expedita sapiente deserunt?
    </p>

    <h3>Наши офисы</h3>

    <div class="content-about__on-map">

      <content-about__infos>
        <div class="content-about__info">
          офис 1 тут 
        </div>

        <div class="content-about__info content-about__info_selected">
          офис 2 тут 
        </div>

        <div class="content-about__info">
          офис 3 тут 
        </div>
      </content-about__infos>

      <div class="content-about__map" style="background-image: url(../img/map.png);">

      </div>

    </div>


  </div>
</div>