<div id="extId">
  <div class="content-about">
    <h2>components/about.html</h2>
    <h3>О нас</h3>

    <p>
      %routePage% %pageParams%
      мы такие хорошие. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio assumenda dicta soluta quos quia voluptates, 
      incidunt optio minima sint ipsam laudantium, saepe consequuntur at beatae officiis ullam expedita sapiente deserunt?
    </p>

    <h3>Наши офисы</h3>

    <div class="content-about__on-map">

      <content-about__infos>
        <div class="content-about__info nav-item">
          <a  href="#!about/1">офис 1 тут </a>
        </div>
<!--  content-about__info_selected  -->
        <div class="content-about__info nav-item">
          <a  href="#!about/2">офис 2 тут </a>
        </div>

        <div class="content-about__info nav-item">
          <a  href="#!about/3">офис 3 тут </a>
        </div>
      </content-about__infos>

      <div class="content-about__map" style="background-image: url(../img/map%pageParams%.png);">

      </div>

    </div>


  </div>
</div>