<div id="extId">
  <div class="content-main">
    <h2>components/main.html</h2>
    <h3>Основное содержание</h3>

    <p>
      <img class="leftfoto" src="../img/logo512.png" alt="">

      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi rerum ipsum veniam vel facilis sit, molestiae
      obcaecati earum alias quo voluptatum magni aliquid amet omnis quam esse beatae. Deserunt, explicabo!
    </p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quo corrupti molestiae, dolorem aut officia
      numquam impedit, minus cupiditate fuga accusantium recusandae. Ullam, est blanditiis suscipit ipsum non enim
      eaque.
    </p>
    <h3>Выводы</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, aspernatur quidem! Placeat corrupti earum
      culpa
      minus saepe soluta veritat.
    </p>
  </div>
</div>