<div id="extId">
  <div class="content-product">
    <h2>components/products.html</h2>
    <h3>Наши продукты</h3>

    <div class="content-product__grid">

      <img class="content-product__img" src="../img/banan.jpg" alt="">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique vel maxime dolorem rem quaerat possimus doloribus suscipit numquam inventore ad commodi neque ducimus alias sint assumenda, voluptas dolores ipsam eveniet.</p>

      <img class="content-product__img" src="../img/clubnik.jpg" alt="">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique vel maxime dolorem rem quaerat possimus doloribus suscipit numquam inventore ad commodi neque ducimus alias sint assumenda, voluptas dolores ipsam eveniet.</p>

      <img class="content-product__img" src="../img/lam.jpg" alt="">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique vel maxime dolorem rem quaerat possimus doloribus suscipit numquam inventore ad commodi neque ducimus alias sint assumenda, voluptas dolores ipsam eveniet.</p>

    </div>
  </div>
</div>

<div id="extId1">

  <div class="content-product">
    <h2>components/products.html</h2>
    <h3>Наши продукты</h3>

    <div class="content-product__grid">

      <img class="content-product__img" src="../img/clubnik.jpg" alt="">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique vel maxime dolorem rem quaerat possimus doloribus suscipit numquam inventore ad commodi neque ducimus alias sint assumenda, voluptas dolores ipsam eveniet.</p>

      <img class="content-product__img" src="../img/lam.jpg" alt="">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique vel maxime dolorem rem quaerat possimus doloribus suscipit numquam inventore ad commodi neque ducimus alias sint assumenda, voluptas dolores ipsam eveniet.</p>

    </div>
  </div>

</div>