/* mvertical.css */
.mvertical {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24;
  padding: 10px;
  border: 1px solid lightslategray;
  background-color: white;
  color: black;
  max-width: 470px;
  min-height: 12em;
  border-radius: 10px;

  .content{
    display: flex;
    gap: 20px;
  }
  .instance {
    color: blue;
  }
  .jsonUrl{
    font-size: 12px;
    font-weight: 400;
    /* font-style: italic; */
  }  
  .rez{
    display: flex;
    align-items: center;
  }
  .box {
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 10px;
    /* padding-top: 10px; */
    margin-left: 10px;
  }
  .box i{
    /* display: none; */
    font-style: normal;
  }
  .box i:not(:last-child)::after{
    content: ',';
  }
}
